// Define variables for your color scheme

// For example:
$red: #b5030c;
$blue: #282d73;
$orange: #eb6424;
$light-green: #408967;
$light-gray: #F4F4F4;
$yellow: #f2ba45;
$dark-green: #20483b;
$beige: #fcf5c7;
$purple: #8b95c9;

// custom colour:
$custom-red: rgba(255, 49, 52, 0.689);
