<div class="container">
  <div class="outline">
    <div>
      <%= render "subscriptions/list", subscriptions: @subscriptions %>
    </div>
  </div>
  <div class="outline d-flex">
    <%= link_to "All Subscriptions", subscriptions_path, class: "outline" %>
  </div>
</div>
